@import "../../palette.scss";

@mixin button {
  width: 255px;
  height: 100%;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.main {
  width: 100%;
  padding: 20px 45px 20px 23px;
  .notfound {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
}
.loadMore {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 31px;
  .button {
    @include button;
    border: 1px solid $textPrimary;
    background-color: $divider;
    color: $textPrimary;
    cursor: pointer;
    &:hover {
      background-color: $fill;
    }
    &:active {
      background-color: $divider;
    }
  }
  .buttonDis {
    @include button;
    color: $fill;
    border: 1px solid $fill;
    background-color: $divider;
    cursor: default;
  }
}
