@import "./palette.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: $textPrimary;
  font-size: 14px;
  font-weight: 400;
}
